*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background-image: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(3t.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:cyan;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: cornsilk;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:blue;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid blue;
    margin-top: 13px;
    color: crimson;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: blue;
    border: 2px solid blue;
    margin-top: 13px;
    color: aquamarine;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;

}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: azure;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 30px;
    margin-top: 25%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: blue;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: antiquewhite;
}

.content span{
    color: rgb(0, 221, 255);
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: blue;
    font-size: 27px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid blue;
    border-top: none;
    border-right: none;
    border-left: none;
    color: antiquewhite;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}

::placeholder{
    color:antiquewhite;
    font-family: Arial;
}

.heading{
    text-align: center;
    color: rgb(0, 221, 225);
    text-transform: none;
    padding-bottom: 3.5rem;
    font-size: 4rem;
   
}


.btnn{
    width: 240px;
    height: 40px;
    background: blue;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: antiquewhite;
    transition: 0.4s ease;
}

.btnn:hover{
    background: antiquewhite;
    color: blue;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: blue;

}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: aliceblue;
   
}

.icons ion-icon{
    color: antiquewhite;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover{
    color: blue;
}



/*-----Planet page-----*/
.Planets{
    height: 109vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(2t.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: antiquewhite;
}

.Planets h1{
    margin-top: 25px;
}

.Planets .content h3{
    width: 1200px;
    height: auto;
    margin: auto;
    color: blue;
    position: relative;
    font-size: 30px;
    
}

.Planets .content p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.Planets .content a{
    text-decoration: none;
    color: cornflowerblue;
    transition:  .3s ease;

}

.Planets .cn:hover{
   background-color: aliceblue;
}

.Planets .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.Planets .box-container .box{
    padding:5rem;
    text-align: center;
    border: var(--border);
}

.Planets .box-container .box img{
    height: 8rem;

}



/*-----Solar System page-----*/

.SolarSystem{
    height: 109vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(10t.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: antiquewhite;
}

 .SolarSystem h1{
    margin-top: 25px;
}

 .content h3{
    width: 1200px;
    height: auto;
    margin: auto;
    color: blue;
    position: relative;
    font-size: 30px;
 }

.SolarSystem .content p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.SolarSystem .content a{
    text-decoration: none;
    color: cornflowerblue;
    transition:  .3s ease;

}

.SolarSystem .cn:hover{
   background-color: aliceblue;
}

.SolarSystem .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.SolarSystem .box-container .box{
    padding:5rem;
    text-align: center;
    border: var(--border);
}

.SolarSystem .box-container .box img{
    height: 8rem;

}


/*-----EducatioalResorce page-----*/


.EducationalResource{
    height: 109vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(6t.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: antiquewhite;
}

.EducationalResource h1{
    margin-top: 25px;
}

 .content h3{
    width: 1200px;
    height: auto;
    margin: auto;
    color: blue;
    position: relative;
    font-size: 30px;
    
}

.EducationalResource .content p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.EducationalResource .content a{
    text-decoration: none;
    color: cornflowerblue;
    transition:  .3s ease;

}

.EducationalResource .cn:hover{
   background-color: aliceblue;
}

.EducationalResource .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}

.EducationalResource .box-container .box{
    padding:5rem;
    text-align: center;
    border: var(--border);
}

.EducationalResource .box-container .box img{
    height: 8rem;

}


/*-----Contact Us page-----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.Contact{
   position: relative;
   min-height: 100vh;
   padding: 50px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: url(8t.jpg);
   background-size: cover;
}

.Contact .content{
    max-width: 800px;
    text-align: center;
}

.Contact .content h1{
    font-size: 36px;
    font-weight: 500;
    color: aqua;
}

.Contact .content p{
    font-weight: 300;
    color: azure;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}


.container .contactInfo .box .text h3{
    font-weight: 500;
    color: aqua;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}


.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
